export ETH_NODE_URL=wss://mainnet.infura.io/ws/v3/xxxxxxxx
export POLYGON_NODE_URL=https://rpc-mainnet.maticvigil.com/v1/xxxxxxxxx
export BSC_NODE_URL=https://bsc-dataseed1.defibit.io/
export IOTEX_BABEL_URL=https://babel-api.mainnet.iotex.io
export INFLUXDB_USERNAME=test
export INFLUXDB_PASSWORD=test
export INFLUXDB_TOKEN=test_token
export INFLUXDB_URL=http://localhost:8086